@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #343d4b;
}

.container {
  height: 400px;
  width: 600px;
  display: flex;
  border-radius: 25px;
  background-color: #1f252d;
}

/*** LEFT SIDE *********************************/

.leftside {
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 20px;
  border-radius: 25px;
  margin: -5px;
  background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  box-shadow: inset 0 0 0 1000px rgba(69, 149, 214, 0.699);
}

.leftside:hover {
  transform: scale(1.1);
}

.actualinfo {
  display: flex;
  flex-direction: column;
}

.actualinfo > span {
  margin: 3px;
}

.actualweather {
  display: flex;
  flex-direction: column;
}

/** RIGHT SIDE********************************/

.rightside {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: space-around;
  align-items: center;
}

.otherinfos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.otherinfos > * {
  margin: 4px;
}

.days {
  height: 130px;
  display: flex;
  width: 100%;
  background-color: #222831;
  border-radius: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  border-radius: 10px;
  background-color: #222831;
  transition: 0.1s ease-in-out;
  font-size: 14px;
}

.cards:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  background-color: #f1f1f1;
  color: #222831;
}

.cards > * {
  margin: 3px;
}

.days .active {
  background-color: #f1f1f1;
  color: #222831;
}

.but {
  display: flex;
  margin-top: 10px;
}

.changelocation {
  width: 80%;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
}

.changelocation:hover {
  transform: scale(0.95);
}

.title {
  font-weight: 600;
  font-size: 25px;
}

.temperature {
  font-size: 50px;
  font-weight: 600;
}

.sun {
  width: 70px;
  filter: invert(1);
}

.precipitation,
.humidity,
.wind {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.mid {
  position: relative;
  left: 5px;
  top: -2px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 15px;
  }
  .temperature {
    font-size: 30px;
  }
}

.formButton {
  border-radius: 12.5px;
  border-bottom-right-radius: 0;
}

form {
  gap: 10px;
}

form > * {
  padding: 10px;
  border: none;
}

form > button {
  background-color: rgb(69, 149, 214, 0.7);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 12.5px;
  border-radius: 10px 10px 10px 0;
}

.loader {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.loader > svg {
  transform: scale(0.05);
  transition: 0.3s ease-in-out;
}
